---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { Image } from 'astro:assets'
---

<!doctype html>
<html lang="en" class="bg-gray-900 text-gray-100">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="min-h-screen flex flex-col">
		<Header />
		<main class="flex-grow container mx-auto px-4 py-8">
			<div class="max-w-3xl mx-auto text-center">
				<h1 class="mb-8">
					<Image 
						width={300} 
						height={300} 
						src="https://media1.tenor.com/m/Tsob5aHiS3UAAAAd/hello-there.gif" 
						alt="Obi-Wan Kenobi Hello There Gif"
						class="rounded-lg shadow-lg shadow-green-500/20"
					/>
				</h1>
				<p class="text-xl text-gray-400 font-atkinson">
					{SITE_DESCRIPTION}
				</p>
			</div>
		</main>
		<Footer />
	</body>
</html>
