---
import { SITE_TITLE } from '../consts';
---
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NNS54X6T"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<header class="bg-black border-b border-fuchsia-500/20">
	<nav class="container mx-auto px-4 py-4 flex justify-center items-center">
		<a class="text-2xl font-atkinson font-bold text-cyan-400 hover:text-cyan-300 transition-colors" href="/">
			<pre>{SITE_TITLE}</pre>
		</a>
	</nav>
</header>
